# ðŸ“ Python Practice Exercises
This notebook contains 20 exercises based on Python fundamentals.

**Exercise 1: Arithmetic Practice**

Write Python expressions that calculate:
- 7 squared
- the remainder of 29 divided by 5
- floor division of 29 by 5

In [ ]:
total = 7 **2
remain = 29 % 5
floor = 29 // 5

print(total,remain, floor)

**Exercise 2: Comparison Chain**

Check if the variable `x = 7` is greater than 5 and less than 10 in one statement.

In [ ]:
x = 7
if x > 5 and x < 10:
    pass

if 5 < x < 10: print(True)

**Exercise 3: Logical Operators**

Write code that checks whether `'b'` is in `'zebra'` **and** `'c'` is not in `'zebra'`.

In [ ]:
word = 'zebra'

if 'b' in word and 'c' not in word: print('b is in c is out')

**Exercise 4: For Loop Range**

Use a `for` loop with `range()` to print the numbers 10 down to 1.

In [ ]:
for i in range(10,0,-1):
    print(i)

**Exercise 5: While Loop Counter**

Write a `while` loop that counts from 0 to 4 and prints the numbers.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

**Exercise 6: Simple List Operations**

Create a list `[1, 2, 3]`, append the number `4`, and then remove `2`. Print the final list.

In [ ]:
mylist = [1,2,3]
mylist.append(4)
print(mylist)

mylist.pop(1)
print(mylist)

**Exercise 7: Tuple Count**

Given `t = (1, 2, 2, 3)`, use a tuple method to count how many times `2` appears.

In [ ]:
t = (1,2,2,3)
print(t.count(2))

**Exercise 8: Set Creation**

Create a set from the string `'balloon'` and print it. Explain why some letters only appear once.

In [ ]:
word = 'balloon'
letters = set(word)

**Exercise 9: If/Else with Input**

Ask the user for a number. Print `'Even'` if the number is even, otherwise print `'Odd'`.

In [ ]:
num = int(input('enter an integer'))
if num % 2 == 0: print('even')
else:print('odd')

**Exercise 10: Fix Wrong Dictionary Value**

`student = {"name": "Alice", "age": 20, "grade": 85}`

Accidentally, grade should have been `90`. Update it using `update()`.

In [ ]:
student = {"name": "Alice", "age": 20, "grade": 85}
student.update({'newgrade': 90})
print(student)

**Exercise 11: Using pop() on Lists**

Create `nums = [10, 20, 30, 40]`.
- Pop the last number
- Pop the first number
Print the final list.

In [7]:
nums = [10, 20, 30, 40]
nums.pop(3)
print(nums)

[10, 20, 30]

**Exercise 12: Dictionary Safe Lookup**

Given `student = {"name": "Alice"}`, use `.get()` to print `'N/A'` if `'grade'` does not exist.

In [8]:
student = {'name': 'Alice'}
print(student.get('grade', 'N/A'))

N/A

**Exercise 13: Loop + If**

Loop through the list `[2, 5, 8, 11, 14]`. Print only the numbers greater than 10.

In [13]:
nums = [2, 5, 8, 11, 14]
for num in nums: 
    if num > 10:
        print(num)

11
14

**Exercise 14: Try/Except Handling**

Ask the user for an integer. If they type something invalid, print `'Invalid input'` instead of crashing.

In [19]:
try:
    num = int(input('enter an int'))
except ValueError:
    print('invali input')

TypeError: 'int' object is not callable

**Exercise 15: Dictionary popitem()**

Create a dictionary with three key-value pairs. Call `popitem()` and print both the returned item and the dictionary after.

In [20]:
jack = {'grade': 90, 'name': 'alice', 'subject' : 'math101'}
print(jack.popitem())
print(jack)

('subject', 'math101')
{'grade': 90, 'name': 'alice'}

**Exercise 16: Reverse a List**

Write a program that creates a list of numbers from 1 to 5 and then reverses it in place.

In [25]:
myList = [1, 2, 3, 4, 5]
myList.sort(reverse = True)
print(myList)

[5, 4, 3, 2, 1]


**Exercise 17: Nested Loop with Condition**

Print a multiplication table (1â€“5) but skip printing results where the product is greater than 12.

expected output:

1 x 1 = 1  
1 x 2 = 2   
1 x 3 = 3   
1 x 4 = 4   
1 x 5 = 5   

2 x 1 = 2   
2 x 2 = 4   
2 x 3 = 6   
2 x 4 = 8   
2 x 5 = 10   

3 x 1 = 3   
3 x 2 = 6   
3 x 3 = 9   
3 x 4 = 12   

4 x 1 = 4  
4 x 2 = 8   
 
5 x 1 = 5   
5 x 2 = 10

In [ ]:
for idx in range(1, 6):
    for jdx in range(1, 6):
        if idx * jdx <= 12:
            print(f'{idx} * {jdx} = {idx * jdx}')
    print() #in I loop so every time it goes to another i, it spaces

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12

5 * 1 = 5
5 * 2 = 10

**Exercise 18: Grades Dictionary**

Create a dictionary of students where each value is a list of grades. Example:
```python
students = {"Alice": [90, 85], "Bob": [70, 75]}
```
Loop through and print each studentâ€™s name and their average grade.

In [ ]:
students = {'Alice': [90, 85], 'Bob': [70, 75]}
for name in students: 
    print(name)

Alice
Bob

TypeError: 'dict' object is not callable

**Exercise 19: List of Dictionaries Fix**

You are given a list of dictionaries representing items for sale:
```python
items = [
    {"name": "Pen", "qty": 10, "price": 2, "total": 25},  # wrong
    {"name": "Book", "qty": 3, "price": 10, "total": 30}
]
```
Loop through and fix any incorrect `total` values.

**Exercise 20: Unique Words**

Given a string sentence, split it into words and create a set of unique words. Print the set and its length.